@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

.logo img {
  width: 50px;
  display: inline-block;
}

img {
  width: 100%;
}

p {
  font-size: 14px;
}

.padded-4 {
  padding: 4rem 0;
}

.o-h {
  overflow: hidden;
}

.l-h-0 {
  overflow: hidden;
}

.btn {
  padding: 6px 20px;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

a:hover,a:active,a:focus {
  text-decoration: none;
  color: #cf000f;
  -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.header-logo {
  padding: 1.4rem 0;
}

.nav-bar ul {
  display: flex;
}

.nav-bar li {
  margin-right: 0 !important;
}

.nav-bar li a {
  color: #111;
  padding: 15px 15px;
  display: block;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.nav-bar li a.active {
  background-color: #cf000f;
  color: #fff;
  transition: all 200ms ease-in-out;
}

.nav-bar li a:hover {
  background-color: #cf000f;
  color: #fff;
  transition: all 200ms ease-in-out;
}

.hb-btn {
  border: 1px solid #fff;
    padding: 4px 10px;
    display: block;
    font-size: 14px;
    border-radius: 3px;
}

.hb-btn:hover {
  border: 1px solid #cf000f;
  color: #cf000f;
}

.sy-bg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}

.sy-bg--overlay-dark:before {
  background-color: #000;
  opacity: .6;
}

.sy-bg--overlay:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .owl-nav {
    display: none;
  }
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  width: 36px;
  height: 36px;
  border-radius: 3px;
  background-color: #fff !important;
  margin: 0 12px;
}

.owl-prev {
  position: absolute;
    top: 42%;
    left: 0;
}

.owl-next {
  position: absolute;
    top: 42%;
    right: 0;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background-color: #cf000f !important;
  color: #fff !important;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
}

.footer {
  background-color: #222;
  color: #eee;
}
.footer__top {
  padding: 30px 0;
}

.footer__nav li {
  padding-bottom: 10px;
}

.footer__nav li a {
  color: #fff;
  font-size: 14px;
}

.footer__nav li a:hover {
  color: #cf000f;
}

.footer__title {
  margin-bottom: 14px;
}

.footer__bottom {
  border-top: 1px solid #444;
}

.footer__bottom a {
  color: #fff;
}

.footer__bottom a:hover {
  color: #cf000f;
}

.banner-slider {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}

.bgImg {
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 99;
}

.sy-banner-info h2 {
  color: #eee;
}

.sy-banner-info span {
  color: #eee;
}

.sy-banner-info p {
  padding-top: 10px;
  line-height: 26px;
  font-size: 16px;
  color: #eee;
}

.footer__item h4 {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.breadcrumbs {
  background-color: #f1f1f1;
  padding: 8px 0;
}

.breadcrumbs ul li {
  display: inline-block;
}

.flex-direction-nav a:before {
  font-size: 28px !important;
}

.page {
  padding: 2rem 0;
}

.red {
  color: #cf000f;
}

.blue {
  color: #1064ba;
}

/*NEW CSS*/
.header {
  width: 100%;
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  z-index: 999;
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.featured-post-small,
.featured-post-big,
.video-gallery-big,
.photo-gallery-img {
  margin-bottom: 36px;
}

.featured-post-big_content p {
  font-size: 16px;
}

.featured-post_content h5 {
  font-size: 16px;
  margin-bottom: 4px;
}

.posted-time {
  color: #888;
  font-size: 14px;
}

.posted-time i {
  color: #999;
  font-size: 12px;
}


.featured-post-small {
  box-shadow: 0 0 4px 3px #f1f1f1;
  border-radius: 8px;
  overflow: hidden;
  display: block;
}

.featured-post-small-img {
  overflow: hidden;
  position: relative;
}

.featured-post-small-img img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  transform: scale(1);
  transition: all 800ms ease-in-out;
}

.featured-post-small:hover img,
.featured-post-big:hover img{
  transform: scale(1.4);
  transition: all 800ms ease-in-out;
}

.featured-post-big {
  border-radius: 8px;
  overflow: hidden;
  display: block;
}

.featured-post-big-img {
  position: relative;
}

.featured-post-big-img img {
  width: 100%;
  height: 440px;
  object-fit: cover;
  transform: scale(1);
  transition: all 800ms ease-in-out;
}

.featured-post-big:hover .add-watchlist {
  opacity: 1;
  visibility: visible;
  transition: all 200ms ease-in-out;
}

.featured-post_content {
  padding: 14px;
}

.view-all {
  background-color: #eee;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 3px;
  color: #444;
}

.view-all:hover {
  background-color: #cf000f;
  color: #fff;
}

.photo-gallery-img {
  display: block;
}

.photo-gallery-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.video-gallery-small {
  display: flex;
  margin-bottom: 30px;
}

.video-gallery-small img {
  width: 160px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
}

.page_content h4 {
  padding-top: 12px;
}

.page_content ul li {
  padding: 3px 0;
}

.mg-search {
  width: 60%;
  margin-right: 1rem;
  position: relative;
}

.mg-search input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 6px 30px 6px 10px;
}

.mg-search i {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-8px, 9px);
  color: #555;
}

.font-size-sm {
  font-size: 14px;
}

.footer__store a {
  background: url(../images/app.svg) left top no-repeat;
}

.footer__store a {
  height: 40px;
  width: 135px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.footer__store a.playstore:hover {
  background-position: 0 -50px;
}

.footer__social .social {
  background-color: #444;
  width: 36px;
  height: 36px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.footer__social .social:hover {
  background-color: #cf000f;
}

.footer__social .social i {
  color: #eee;
}

.load-more i {
  font-size: 18px;
  transform: translateY(2px);
}

.add-watchlist {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: rgba(000,000,000,.7);
  border-radius: 6px;
  padding: 6px 8px;
  color: #fff;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  border: 0;
  box-shadow: none;
}

.add-watchlist:hover {
  background-color: rgba(000,000,000,1);
  transition: all 200ms ease-in-out;
  color: #fff;
}

.add-watchlist i {
  font-size: 10px;
  transform: translateY(-1px);
}

.featured-post-small:hover .add-watchlist {
  opacity: 1;
  visibility: visible;
  transition: all 200ms ease-in-out;
}

.pricing-card {
  padding: 24px 30px 16px;
  background-color: #fff;
  box-shadow: 0 0 6px 3px #eee;
  margin-bottom: 30px;
}

.pricing-card .table thead th {
  border-top: none;
  border-bottom: none;
}

.pricing-card .table i {
  color: #666;
}

.subscription-page {
  padding: 4rem 0;
}

.social-login {
  padding: 24px;
  text-align: center;
}

.social-login h5 {
  text-decoration: underline;
}

.social-login ul li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #eee;
  margin-right: 1rem;
  border-radius: 3px;
  color: #fff;
}

.social-login ul li a.fb {
  background-color: #3b5998;
}

.social-login ul li a.google {
  background-color: #ea4335;
}